#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.nav-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}