body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("./assets/BUBLES2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  backdrop-filter: blur(6px);
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #66bb6a;
  text-decoration: underline;
}
a:hover {
  color: #4caf50;
}
